{
  "parserOptions": {
    "ecmaVersion": 2021
  },
  "extends": [
    "plugin:jsx-a11y/recommended",
    "plugin:react/recommended",
    "plugin:prettier/recommended"
  ],
  "rules": {
    "eqeqeq": "error",
    "prettier/prettier": ["warn", { "endOfLine": "auto" }],
    "space-before-function-paren": [
      "error",
      {
        "anonymous": "always",
        "named": "never",
        "asyncArrow": "always"
      }
    ],
    "react-hooks/exhaustive-deps": "off",
    "react/react-in-jsx-scope": "off",
    "react/prop-types": "off"
  },
  "ignorePatterns": ["**/*.css", "src/assets/**/*", "**/*.html"]
}
